<form [formGroup]="parkingForm">
    
    Veículo:<br />
    <input type="text" size="30" formControlName="vehicle" />
    <div *ngIf="vehicle.touched && vehicle.errors?.required" class="error">
        Informe o veículo!
    </div>
    <br />

    Placa:<br />
    <input type="text" formControlName="plate" maxlength="7"/>
    <div *ngIf="plate.touched && plate.errors?.required" class="error">
        Informe a placa!
    </div>
    <div *ngIf="plate.touched && plate.invalid" class="error">
        Placa inválida!
    </div>

    <br />

    Motorista:<br />
    <input type="text" size="30" formControlName="driver"/>
    <div *ngIf="driver.touched && driver.errors?.required" class="error">
        Informe o motorista!
    </div>

    <br />

    Telefone de Contato:<br />
    <input type="tel" formControlName="phone"/>
    <div *ngIf="phone.touched && phone.errors?.required" class="error">
        Informe o telefone!
    </div>

    <br /><br />

    <input type="button" value="Salvar" (click)="save()" [disabled]="parkingForm.invalid">&nbsp;&nbsp;
    <input type="button" value="Cancelar" (click)="returnToList()">

</form>