<div>
    <h1>Parking Lot</h1>

    <a routerLink="/list">Início</a>
    &nbsp;&nbsp;
    <a routerLink="/register">Cadastro</a>
</div>

<div style="margin-top: 20px;">
    <router-outlet></router-outlet>
</div>